body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background-color: rgb(225, 231, 231);
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #a5a5a5;
    font-size: 40px;
}
h2{
    text-align: center;
    color: #a5a5a5;
    font-size: 40px;
}
select[class="form-control"],
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.form-group{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 120px;
    text-align:  right;
    color: rgb(211, 211, 211);
}
.button{
    text-align: start;
    border: none;
    width: 17%;
    color: #26a844;
    font-size: 20px;
    background:  white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #26a844;
    border-radius: #26a844;
}
.button:hover{
    background: #26a844;
    color: white;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
       
    }
}
